.welcome
{
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding-top: 60px;
}
.signup
{
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
